body {
    font-family: 'tan-nimbus-2-webfont', sans-serif;
}

@font-face {
  font-family: 'tan-nimbus-2-webfont';
  src: url('/mojefonty/webfontkit-20250823-064711/tan-nimbus_2-webfont.woff2') format('woff2');
}

h1 {
    font-family: 'tan-nimbus-2-webfont', sans-serif;
    font-weight: normal;
}
